html, body {
    margin: 0;
    padding: 0;
    background-image: url('blurred-empty-lecture-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: makes the background image fixed during scroll */
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
.home-page-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    border: 5px solid transparent; /* Invisible border */
    box-sizing: border-box; /* This ensures the border is included in the element's total width and height */
    
}
 
.home-page-h1 {
    color: rgb(6, 56, 113);
    margin-top: 40px;
    margin-bottom: 40px; /* Increase spacing */
    font-weight: 600; /* Make it bold */
    font-size: 3.5em;
    text-shadow: 2px 2px 4px #000000; /* Black shadow for example */
    background-color: rgba(0, 0, 0, 0.03); /* Semi-transparent black */
    display: inline; /* To keep background close to text */
    padding: 10px; /* Add some padding around the text */
}

.home-page-intro {
    color: rgb(209, 202, 202);
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000; /* Black shadow for example */
    background-color: rgba(0, 0, 0, 0.03); /* Semi-transparent black */
    display: inline; /* To keep background close to text */
    padding: 10px; /* Add some padding around the text */
}

.professor-btn, .student-btn {
    padding: 40px 80px; /* More padding */
    font-size: 35px;
    margin: 20px 0; /* More margin */
    border: none;
    cursor: pointer;
    border-radius: 57px; /* Rounded edges */
    transition: background-color 0.3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    margin: 10px;
}

.professor-btn {
    background: #00704A; /* A shade of green */
    color: white;
    position: relative;
}

.student-btn {
    background-color: #0055B8; /* A shade of blue */
    color: white;
    position: relative;
}

.menu-icon {
    position: fixed; /* Fix the icon to the viewport */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other elements */
}

.menu {
    background-color: #333;
    position: absolute;
    top: 65px; /* More spacing */
    right: 20px; /* More spacing */
    width: 200px; /* More width */
    border-radius: 12px; /* Rounded edges */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    z-index: 100; /* Ensure menu is below the icon */
    margin: 10px;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 15px; /* More padding */
    cursor: pointer;
    border-bottom: 1px solid #555;
    border-radius: 8px; /* Rounded edges for list items */
}

.menu li:last-child {
    border-bottom: none;
}

.menu li:hover {
    background-color: #555;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500; /* Make the text bolder */
}

.menu a:hover {
    text-decoration: underline;
}

.menu-icon:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px #888888; /* Adjust the shadow values as needed */
    border-radius: 20%; /* This makes it circular */
    background-color: rgba(0, 0, 0, 0.1); /* A light overlay for the hover effect */
}

.professor-btn:hover {
    background: #005938  /* a darker shade of the original to indicate hovering */
    
}
.home-page-intro {
    margin: 20px 0;
    text-align: center;
    font-size: 50px; /* Adjust the font size as needed */
    z-index: 1;
    margin: 30px; /* Add margin if needed */
    text-align: center;
    border-left: 10px;
}

.student-btn:hover {
    background-color: #003D94  /* a darker shade of the original to indicate hovering */
}